[Unit]
Description=Backup Random Wallpaper fetched files.

[Timer]
OnCalendar=hourly
OnBootSec=5min
RandomizedDelaySec=5min
Unit=backup-wallpappers.service

[Install]
WantedBy=timers.target