// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// This line starts waybar, a commonly used bar for Wayland compositors.

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "wlsunset" "-L" "6.8" "-l" "47.4" "-T" "6500" "-t" "3500"
//spawn-at-startup "swaybg" "-m" "fit" "-i" "~/Images/fatman1.jpg"
//spawn-sh-at-startup "swaybg -m fit -i ~/Images/fatman1.jpg"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"


// For X applications
spawn-at-startup "xwayland-satellite"
environment {
    DISPLAY ":0"
}

// workspace
workspace "sys"
workspace "int"
workspace "dev"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
// prefer-no-csd
// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.

screenshot-path "~/Images/Captures d’écran/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "layer.kdl"
include "window_rules.kdl"
include "animations.kdl"
include "overview.kdl"
include "binds.kdl"
include "recent_windows.kdl"
