//******************************************************************************
//                                 OVERVIEW
//******************************************************************************
// https://github.com/YaLTeR/niri/wiki/Overview

overview {
    zoom 0.4
    backdrop-color "#262626"
    workspace-shadow {
        off
    }
}
