l[Unit]
Description=Export packages timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=weekly
OnBootSec=1h
AccuracySec=1m
RandomizedDelaySec=25m
Persistent=true
Unit=export-packages.service

[Install]
WantedBy=timers.target
