[Desktop Entry]
Type=Action
Name=Encode 480p
ExecutionMode=Terminal
Profiles=480p

[X-Action-Profile 480p]
Exec=sakura -e "mpv %F -o %F.mp4 -profile enc-to-iphone-4"
MimeTypes=video/*;
